checkpoint1
[{"id":"484130cc.26a3f","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"2205a8a5.49f318","type":"switch","z":"484130cc.26a3f","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":140,"wires":[["60607a07.b61cb4"],["ad6378c4.934ea8"]]},{"id":"60607a07.b61cb4","type":"change","z":"484130cc.26a3f","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":140,"wires":[["7d842b7b.ebdbe4"]]},{"id":"ad6378c4.934ea8","type":"change","z":"484130cc.26a3f","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":220,"wires":[["7d842b7b.ebdbe4"]]},{"id":"311cec3a.61a574","type":"debug","z":"484130cc.26a3f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":60,"wires":[]},{"id":"f2893486.543d88","type":"rpi-gpio in","z":"484130cc.26a3f","name":"button","pin":"11","intype":"up","debounce":"25","read":false,"x":120,"y":280,"wires":[["2205a8a5.49f318","311cec3a.61a574"]]},{"id":"7d842b7b.ebdbe4","type":"rpi-gpio out","z":"484130cc.26a3f","name":"LED","pin":"7","set":"","level":"0","freq":"","out":"out","x":680,"y":200,"wires":[]}]
