checkpoint5.txt
[{"id":"7eb2da56.d97964","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"f1a5b70c.650d18","type":"http in","z":"7eb2da56.d97964","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":170,"y":260,"wires":[["f24d76.14cb9288","b7e44146.b1278"]]},{"id":"f24d76.14cb9288","type":"function","z":"7eb2da56.d97964","name":"Set to 1","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":260,"wires":[["5b1683b1.4642ec"]]},{"id":"5b1683b1.4642ec","type":"rpi-gpio out","z":"7eb2da56.d97964","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":660,"y":400,"wires":[]},{"id":"b7e44146.b1278","type":"function","z":"7eb2da56.d97964","name":"Return Status","func":"msg.payload=\"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":100,"wires":[["681371e0.2e156","9f98b66f.8a8568"]]},{"id":"9f98b66f.8a8568","type":"debug","z":"7eb2da56.d97964","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":480,"wires":[]},{"id":"681371e0.2e156","type":"http response","z":"7eb2da56.d97964","name":"","statusCode":"","headers":{},"x":1050,"y":240,"wires":[]},{"id":"be65397.9e00dc8","type":"http in","z":"7eb2da56.d97964","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":180,"y":580,"wires":[["cbd8b3bb.8a98","b3cddf13.5f4b2"]]},{"id":"cbd8b3bb.8a98","type":"function","z":"7eb2da56.d97964","name":"Clear to 0","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":580,"wires":[["5b1683b1.4642ec"]]},{"id":"b3cddf13.5f4b2","type":"function","z":"7eb2da56.d97964","name":"Return Status","func":"msg.payload=\"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":740,"wires":[["681371e0.2e156","9f98b66f.8a8568"]]}]