checkpoint3
[{"id":"1b770ca9.4a15f3","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"d3331ff5.384fd","type":"inject","z":"1b770ca9.4a15f3","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"0.1","x":150,"y":160,"wires":[["f15bb07a.cdb49"]]},{"id":"f15bb07a.cdb49","type":"function","z":"1b770ca9.4a15f3","name":"payload","func":"msg.headers={\n    deviceKey:\"E5TTTEIDWWuqkxkj\"\n};\nmsg.payload=\"temp0732,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":220,"wires":[["130eb6d8.e2a599"]]},{"id":"130eb6d8.e2a599","type":"http request","z":"1b770ca9.4a15f3","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DhlBBf0i/datapoints.csv","tls":"","x":410,"y":60,"wires":[["29d29924.bf9186","7929f756.f616a8"]]},{"id":"29d29924.bf9186","type":"http response","z":"1b770ca9.4a15f3","name":"","statusCode":"","headers":{},"x":710,"y":160,"wires":[]},{"id":"7929f756.f616a8","type":"debug","z":"1b770ca9.4a15f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":240,"wires":[]}]
