checkpoint4.txt
[{"id":"5cd3bd4b.37e8f4","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"84c1222f.a76dc","type":"http in","z":"5cd3bd4b.37e8f4","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":310,"y":320,"wires":[["3c2a932c.6b25ac"]]},{"id":"3c2a932c.6b25ac","type":"function","z":"5cd3bd4b.37e8f4","name":"GET GPIO","func":"msg.payload=global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":320,"wires":[["83d58973.ced498","1cf78a89.c94795"]]},{"id":"e12df161.6bff8","type":"function","z":"5cd3bd4b.37e8f4","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":420,"wires":[["1cf78a89.c94795"]]},{"id":"83d58973.ced498","type":"http response","z":"5cd3bd4b.37e8f4","name":"","statusCode":"","headers":{},"x":720,"y":320,"wires":[]},{"id":"1cf78a89.c94795","type":"debug","z":"5cd3bd4b.37e8f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":400,"wires":[]},{"id":"f087de32.79113","type":"rpi-gpio in","z":"5cd3bd4b.37e8f4","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":false,"x":300,"y":440,"wires":[["e12df161.6bff8"]]}]